
#root {
  width: 500px;
  margin: auto;
}
#root a {
  color: #f60;
}
.ant-tabs-nav-scroll {
  text-align: center;
}
.ant-btn {
  width: 100%;
}
.ant-btn-primary {
  margin-top:10px;
  background-color: #f60;
  border-color: #f60;
}
.ant-btn-primary :hover{
  background-color: #f60;
}
.ant-tabs-nav .ant-tabs-tab-active {
  color: #f60;
}
.ant-tabs-nav .ant-tabs-tab-active :hover {
  color: #f60;
}
.ant-tabs-nav .ant-tabs-tab-active ::selection {
  background: #f60;
}